.app-shell {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-columns: auto 1fr;
  grid-template-rows: 60px 1fr;
  height: 100vh;
  width: 100%;
}

.app-content {
  grid-area: content;
  overflow-y: auto;
  padding: 24px;
  background-color: var(--cor-fundo);
}
